/*
// db   db d88888b db      d8888b. d88888b d8888b. .d8888.
// 88   88 88'     88      88  `8D 88'     88  `8D 88'  YP
// 88ooo88 88ooooo 88      88oodD' 88ooooo 88oobY' `8bo.
// 88~~~88 88~~~~~ 88      88~~~   88~~~~~ 88`8b     `Y8b.
// 88   88 88.     88booo. 88      88.     88 `88. db   8D
// YP   YP Y88888P Y88888P 88      Y88888P 88   YD `8888Y'
//
//
*/
.w1 {
    width: 1px;
}

.hidden {
    display: none;
}

.font-100 {
    font-size: 100px;
}