.has-danger input,
.has-danger textarea,
.has-danger select,
.has-danger select ~ .select2-container--default .select2-selection,
.has-danger label.checkbox span,
.has-danger label.radio span {
    border: 1px #dd0000 solid;
    background-color: #ffb9b9;
}

.form-control-feedback {
    display: none !important;
}